body {
  font-family: "Exo 2", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: white;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#burger,
#burger1 {
  width: 3%;
  min-width: 100px;
  margin-right: 1%;
}

#navlogo {
  width: 50px;
  margin-left: 2%;
  padding-right: 10%;
}

#tms {
  font-family: "Exo 2";
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  margin-left: 1%;
  color: #000;
}

#logout {
  font-family: "Exo 2";
  font-size: 32px;
  text-align: right;
  color: #000;
}

.header-divider {
  height: 1px;
  background-color: #ccc;
  margin-top: 10px;
}

.header-notification {
  padding: 20px;
  margin-top: 20px;
}

.notification-header {
  margin-bottom: 10px;
}

.notification-type {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 100px;
}

.notification-title {
  font-size: 1.5em;
  margin: 0;
  margin-left: 20px;
}

.sub-header {
  font-size: 1em;
  margin: 5px 0;
  margin-left: 20px;
}

.options {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.options input[type="checkbox"] {
  display: none;
  margin-right: 5px;
}

.options label {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  cursor: pointer;
  border-radius: 3px;
}

.options input[type="checkbox"]:checked + label {
  background-color: #4caf50;
  margin-right: 20px;
}

.options-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.options-right select {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-right: 100px;
}

.search-container {
  position: absolute;
  top: 130px;
  right: 20px;
  display: flex;
  align-items: center;
}

.search-container .search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.search-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
