body,
html {
  height: 100%;
  margin: 0;
  font-family: "Exo 2" !important;
}

/* LOGIN CSS */

#smb {
  font-size: 36px;
}
#corp {
  font-weight: bolder;
}

#logo-login {
  width: 15%;
}
#cont {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#password {
  background-color: #d9d9d9;
  stroke: #a1a1a1;
  border-radius: 10px;
}
#empID {
  background-color: #d9d9d9;
  stroke: #a1a1a1;
  border-radius: 10px;
}

#fget {
  text-decoration: none;
  font-size: 16px;
}

#login {
  background-color: #d9d9d9;
  border-radius: 10px;
  border-color: none;
  width: 30%;
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition */
}
#login:hover {
  background-color: #5e5e5e;
}

.submit-button:hover {
  color: rgb(251, 251, 252); /* Text color on hover */
}
/* LOGIN CSS */
/* NAVBAR-SIDEBAR */
#navlogo {
  width: 2.5%;
  outline: #000;
  min-width: 40px;
  min-height: 40px;
}

#tms {
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  margin-left: 1%;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

#burger {
  width: 40px;
  margin-right: 1%;
  min-width: 40px;
}

#burger1 {
  width: 40px;
  min-width: 40px;
}

#side-menu {
  font-family: "Exo 2";
}
#dash {
  align-items: left;
  font-size: 40px;
  color: #fad716;
  margin-right: 50%;
}
#selectedlink {
  font-size: 26px;
  margin-left: 17%;
  padding-bottom: 10px;
  text-decoration: none;
  color: #fad716;
}

#selectedlink:hover {
  color: #d1b411;
  font-weight: bold;
}

#hlink {
  font-size: 26px;
  margin-left: 17%;
  text-decoration: none;
  color: #b43b32;
  margin-bottom: 10%;
  padding-bottom: 10px;
}
#hlink:hover {
  color: #df3529;
  font-weight: bold;
}
#logo {
  width: 50px;
  margin-left: 2%;
  padding-right: 10%;
}

#navtext {
  font-size: 32px;
}
#logout {
  font-size: 24px;
  text-align: right;
  color: #000;
  min-width: 100px;
}

#logout:hover {
  color: red;
}
#navbarNav {
  border-bottom: #000;
  border-width: 1px;
}

#burger:hover {
  cursor: pointer;
}

#burger1:hover {
  cursor: pointer;
}

#navheader {
  cursor: default;
  color: #000000;
  text-align: justify;
  align-items: start;
}

/* NAVBAR-SIDEBAR */

/* Add task CSS */

#addtask,
#sortDropdown {
  float: right;
  background-color: #d9d9d9;
  stroke: #d9d9d9;
  color: #000;
}

#statusDropdown,
#urgencyDropdown {
  float: right;
  background-color: #d9d9d9;
  stroke: #d9d9d9;
  color: #000;
}

#addtask:hover {
  background-color: #5e5e5e;
  stroke: #5e5e5e;
  color: #ffffff;
}

#sortDropdown:hover {
  background-color: #5e5e5e;
  stroke: #5e5e5e;
  color: #ffffff;
}

#statusDropdown:hover {
  background-color: #5e5e5e;
  stroke: #5e5e5e;
  color: #ffffff;
}

#urgencyDropdown:hover {
  background-color: #5e5e5e;
  stroke: #5e5e5e;
  color: #ffffff;
}

#notiflist {
  max-height: 590px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #ccc;
  padding: 10px;
  padding-bottom: 20px;
  color: #000;
}

#notiflist table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Margin bottom for each table */
}

#notiflist td {
  /*background-color: rgba(131, 166, 103, 0.8);*/
  padding: 12px;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #ccc;
  cursor: pointer;
}

#notiflist td:hover {
  /*background-color: rgba(103, 131, 80, 0.8);*/
}

#notiflist td .order-type {
  display: inline-block;
  margin-right: 10px;
  font-size: 40px;
  font-weight: bold;
}

#notiflist td .main-work-ctr {
  font-size: 24px;
  font-weight: bold;
}

#notiflist td .taskid {
  font-size: 32px;
  margin-bottom: 0;
  font-weight: bold;
}

#notiflist tr {
  margin-top: 2%;
  margin-bottom: 2%;
}

#notiflist a,
#notiflist p {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the default text color */
}

/* Reports CSS */
.header-divider {
  height: 1px;
  background-color: #ccc;
  margin-top: 10px;
}

.header-reports {
  padding: 20px;
  margin-top: 20px;
}

.reports-header {
  margin-bottom: 10px;
  font-size: 1.75em; /* Larger font size for Report Types header */
}

.reports-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.reports-options select,
.search-button {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid gray; /* Gray outline */
  width: 18%; /* Adjust width for larger dropdowns */
  margin-right: 10px; /* Add space between dropdowns */
}

#search-button {
  background-color: rgba(131, 166, 103, 0.8);
  color: white;
  border: none;
  cursor: pointer;
}

.reports-table-container {
  padding: 20px;
  display: flex;
  justify-content: center; /* Center the table horizontally */
}

.reports-table {
  width: 75%; /* Set the table width to 75% */
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
}

.reports-table th,
.reports-table td {
  padding: 1px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  width: 25%; /* Set equal width for each column */
  font-size: 1.1em; /* Larger font size for table content */
}

.reports-table th {
  background-color: #f2f2f2;
}

.reports-table th:nth-child(1),
.reports-table td:nth-child(1) {
  width: 50px; /* Adjust width of ID column */
}

.reports-table th:nth-child(2),
.reports-table td:nth-child(2) {
  width: 150px; /* Adjust width of FIRSTNAME column */
}

.reports-table th:nth-child(3),
.reports-table td:nth-child(3) {
  width: 150px; /* Adjust width of MIDDLENAME column */
}

.reports-table th:nth-child(4),
.reports-table td:nth-child(4) {
  width: 150px; /* Adjust width of LASTNAME column */
}

.reports-table th:nth-child(5),
.reports-table td:nth-child(5) {
  width: 120px; /* Adjust width of PHONE NO column */
}

.reports-table th:nth-child(6),
.reports-table td:nth-child(6) {
  width: 200px; /* Adjust width of EMAIL column */
}

.reports-table th:nth-child(7),
.reports-table td:nth-child(7) {
  width: 250px; /* Adjust width of ADDRESS column */
}

.reports-table th:nth-child(8),
.reports-table td:nth-child(8) {
  width: 100px; /* Adjust width of ROLE column */
}

.reports-table th:nth-child(9),
.reports-table td:nth-child(9) {
  width: 150px; /* Adjust width of ACTIONS column */
}

.export-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.export-buttons button {
  background-color: gray; /* Gray color for buttons */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}
#reports_table {
  max-height: 605px;
  overflow-y: auto;
  padding-bottom: 20px;
  color: #000;
}

#user_table {
  max-height: 678px;
  overflow-y: auto;
  padding-bottom: 20px;
  color: #000;
}

/* End of Reports CSS */

/*Calendar*/

/* Calendar */
/* Calendar Container */
#calendar-container {
  height: calc(100vh - 120px); /* Adjust as needed based on your layout */
  padding-right: 0px; /* Add space to the right */
}

/* Calendar */
#calendar {
  max-width: 120%; /* Adjust max-width as needed */
  width: 10%;
  margin-left: 10px; /* Push calendar to the right */
  height: 100%; /* Fill available height */
  min-width: 105%;
  position: inherit;
}

/* Month Title */
.fc-toolbar h2 {
  font-weight: bold; /* Ensure the month title is bold */
  text-align: center; /* Center align the month title */
  font-size: 36px; /* Larger font size */
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Event Styling */
.fc-event-container a {
  background-color: rgba(131, 166, 103, 0.8); /* Background color */
  border: 1px solid #ccc; /* Border color */
  border-radius: 10px; /* Rounded corners */
  padding: 5px; /* Padding inside the event box */
  color: rgb(255, 255, 255); /* Text color */
  font-weight: bold; /* Bold text */
  text-align: center; /* Center align text */
  display: block; /* Block element */
  overflow: hidden; /* Prevent overflow */
  white-space: nowrap; /* Prevent line breaks */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

/* Ensure no overflow and prevent scrolling */
#calendar .header-divider,
#calendar .fc-view-container,
#calendar .fc-scroller {
  flex: 1;
  overflow: hidden;
}

/* Table Cell and Header Borders */
.fc-unthemed td,
.fc-unthemed th,
.fc td.fc-today {
  /* border-color: #000;  Border color */
  border-width: 2px; /* Border width */
  border-style: solid; /* Border style */
}

/* Additional Styling (example) */
.fc-right {
  color: red; /* Example: change text color */
  margin-top: 50px; /* Example: adjust margin */
}

#addtaskSched {
  background-color: #d9d9d9;
  stroke: #a1a1a1;
  color: #000;
  border-radius: 5px;
  width: 262px;
}

#addtaskSched:hover {
  background-color: #a1a1a1;
}

#leftCal {
  display: flex;
  flex-direction: column; /* Assuming you want to stack items vertically */
  justify-content: center;
  align-items: center;
  border: 2px solid #ced4da;
  border-radius: 20px;
  padding: 5px;
  margin-left: 40px;
  width: initial;
  margin-top: 0px;
}

#wrap {
  min-width: auto;
  max-width: fit-content;
}

#notiflistCalc {
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #ccc;
  padding: 10px;
  padding-bottom: 20px;
  color: #000;
}

#notiflistCalc2 {
  max-height: 1100px;
  width: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #ccc;
  padding: 10px;
  padding-bottom: 20px;
  color: #000;
}

#notiflistCalc2 table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Margin bottom for each table */
}

#notiflistCalc2 td {
 /* background-color: rgba(131, 166, 103, 0.8);*/
  padding: 12px;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #ccc;
  cursor: pointer;
}

#notiflistCalc2 td:hover {
  background-color: rgba(103, 131, 80, 0.8);
  cursor: pointer;
}

#notiflistCalc2 td .order-type {
  display: inline-block;
  margin-right: 10px;
  font-size: 25px;
  font-weight: bold;
}

#notiflistCalc2 td .main-work-ctr {
  font-size: 20px;
  font-weight: bold;
}

#notiflistCalc2 td .taskid {
  font-size: 26px;
  margin-bottom: 0;
  font-weight: bold;
}

#notiflistCalc2 tr {
  margin-top: 2%;
  margin-bottom: 2%;
}

#notiflistCalc2 a,
#notiflistCalc2 p {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the default text color */
}

/* Notifs */
.header-notification {
  padding: 20px;
  margin-top: 20px;
}

.notification-header {
  margin-bottom: 10px;
}

.notification-type {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.notification-title {
  font-size: 1.5em;
  margin-left: 20px;
}

.sub-header {
  font-size: 1em;
  margin: 5px 0;
  margin-left: 20px;
}

.options {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.options input[type="checkbox"] {
  display: none;
}

.options label {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  cursor: pointer;
  border-radius: 3px;
}

.options input[type="checkbox"]:checked + label {
  background-color: #4caf50;
  margin-right: 20px;
}

.options-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.options-right select {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-right: 100px;
}

.search-container {
  position: absolute;
  top: 130px;
  right: 20px;
  display: flex;
  align-items: center;
}

.search-container .search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.search-button {
  background-color: rgba(131, 166, 103, 0.8);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.search-button:hover {
  background-color: rgba(77, 116, 47, 0.8);
}

/* Users */
.header-reports {
  padding: 20px;
  margin-top: 20px;
}

.reports-header {
  margin-bottom: 10px;
  font-size: 1.75em;
}

.reports-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-button,
.search-bar {
  padding: 8px;
  border-radius: 10px;
}

.add-button {
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
}

.search-bar {
  background-color: lightgray;
  width: 200px;
  margin-left: auto;
}

.reports-table-container {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.reports-table {
  width: 97%;
  max-height: 625px;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
}

.reports-table th,
.reports-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 1.1em;
}

.reports-table th {
  background-color: #f2f2f2;
}

.edit-button {
  background-color: rgba(131, 166, 103, 0.8);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.edit-button:hover {
  background-color: rgba(98, 124, 77, 0.8);
}

.delete-button {
  background-color: #ff6961;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.delete-button:hover {
  background-color: #b64640;
}

#btnMonth,
#btnWeek,
#btnDay,
#exportBtn,
#reportSortDropdown,
#taskSortDropdown,
#assignmentSortDropdown,
#dateSortDropdown {
  background-color: #d9d9d9;
  color: #000;
}

#btnMonth:hover,
#btnWeek:hover,
#btnDay:hover,
#exportBtn:hover,
#reportSortDropdown:hover,
#taskSortDropdown:hover,
#assignmentSortDropdown:hover,
#dateSortDropdown:hover {
  background-color: #a1a1a1;
}

.export-excel-button {
  display: inline-block;
  padding: 8px 12px;
  background-color: #d9d9d9; /* Button background color */
  color: black; /* Button text color */
  text-decoration: none;
  border: 1px solid #d9d9d9; /* Button border color */
  border-radius: 4px; /* Button border radius */
  cursor: pointer;
}

/*urgency Status*/
.default-urgency {
  background-color: rgba(131, 166, 103, 0.8);
}

.low-urgency {
  background-color: rgba(131, 166, 103, 0.8);
  color: white;
}

.medium-urgency {
  background-color: #f97619ad;
  color: black;
}

.high-urgency {
  background-color: #ef4135b7;
  color: white;
}


#beer, #bell-icon, .nav-link {
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
}