.header-reports {
  padding: 20px;
  margin-top: 20px;
}

.reports-header {
  margin-bottom: 10px;
  font-size: 1.75em; /* Larger font size for header */
}

.reports-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-button,
.search-bar {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid gray; /* Gray outline */
}

.add-button {
  background-color: gray; /* Gray color for add button */
  color: white;
  border: none;
  cursor: pointer;
}

.search-bar {
  background-color: lightgray; /* Lighter gray fill */
  width: 200px; /* Adjust width for search bar */
  margin-left: auto; /* Align to the right */
}

.reports-table-container {
  padding: 20px;
  display: flex;
  justify-content: center; /* Center the table horizontally */
}

.reports-table {
  width: 100%; /* Set the table width to 100% */
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
}

.reports-table th,
.reports-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 1.1em; /* Larger font size for table content */
}

.reports-table th {
  background-color: #f2f2f2;
}

.edit-button {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
